<app-player (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 20 + (i*60)}"
    [playerActive]="i == game.currentPlayer" [playerImage]="game.playerImages[i]" [name]="player" class="player-position hide-mobile"></app-player>

<div class="scroll-container hide-desktop">
    <app-player-mobile (click)="editPlayer(i)" *ngFor="let player of game.players; let i = index"
        [ngStyle]="{'left.px': 10 + (i*70),'top.px': 0}" [playerActive]="i == game.currentPlayer" [playerImage]="game.playerImages[i]" [name]="player"
        class="hide-desktop">
    </app-player-mobile>
</div>



<div class="play-field">
    <div class="game-over" *ngIf="gameOver">
    <img src="./assets/img/game_over.png" alt="">
</div>
    <div *ngIf="!gameOver" class="card-stack">
        <!-- card stack  -->
        <img *ngFor="let c of [0,1,2,3]; let i = index;" [ngStyle]="{'right.px':i*5}"
            src="./assets/img/cards/card_cover.png">
        <img (click)="takeCard()" class="top-card" style="right: 25px" src="./assets/img/cards/card_cover.png">

        <!-- stack for played cards -->
        <img *ngFor="let card of game.playedCards" class="played-card" src="./assets/img/cards/{{ card }}.png">

        <!-- current card animation -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card" style="right: 25px"
            src="./assets/img/cards/{{ game.currentCard }}.png">
    </div>

    <app-game-info *ngIf="!gameOver"  [card]="game.currentCard" class="game-card-info"></app-game-info>

    <div class="firebase-data">
        Current Game ID: <b>{{gameId }}</b>

    </div>

    <button *ngIf="!gameOver" mat-fab color="primary" (click)="openDialog()" class="btn-add">
        <mat-icon>add</mat-icon>
    </button>